.projects__items {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

@media screen and (max-width: 768px) {
  .projects__items {
    gap: 70px;
  }
}

/*
.projects__items .project:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -50px;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  
  background-color: #3e3e42;
}
*/
/*
  background-color: #2d2e32;
  */
