.timeblock__content {
  display: flex;
  width: 50%;
}

/*.timeblock:nth-child(2n + 1) .timeblock__content .timeblock__items {
  border-radius: 6px;
  padding-left: 20px;
  border-left: 3px solid #3e3e42;
}*/

/*.timeblock:nth-child(2n + 2) .timeblock__content .timeblock__items {
  border-radius: 6px;
  padding-right: 20px;
  border-right: 3px solid #3e3e42;
}*/

@media screen and (max-width: 768px) {
  .timeblock__content {
    width: 100%;
  }

  /*
  .timeblock:nth-child(2n + 2) .timeblock__content .timeblock__items {
    border-right: unset;
    padding-left: 20px;
    border-left: 2px solid #3e3e42;
  }
    */
}

/*
.timeblock__content(2n + 1) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .timeblock:nth-child(n) {
    flex-direction: row-reverse;
  }
}
*/
